<% @users.each do |user| %>

<tr class="clickableRow" href= <%= "order"%> >
  <td><%= user.id %></td>
  <td><%= user.name %></td>
  <td><% user.marks.times do  %>
        <%= "|" %>
      <% end %>
  </td>
  <td></td>
  <td></td>
</tr>
<%end%>