<% @users.each do |user| %>

<% link = 'orders/' + user.id.to_s %> 
<tr class="clickableRow" href= <%= link %> >
  <td><%= user.id %></td>
  <td><%= user.name %></td>
  <td><% user.marks.times do  %>
        <%= "|" %>
      <% end %>
  </td>
  <td></td>
  <td></td>
</tr>
<%end%>