<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>

<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="order_form">
        <%= render 'shared/order_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>User logs</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>

<%= link_to "Sign up now!", signup_path , class: "btn btn-lg btn-primary" %>


<% end %>