<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Marks</th>
          <th> </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render "static_pages/user" %> 
      </tbody>
    </table>
  </div>
</div>