<div class="row">
  <div class="col-md-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Username</th>
          <th>Marks</th>
          <th> </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <%= render "static_pages/user" %> 
      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
  jQuery(document).ready(function($) {
      $(".clickableRow").click(function() {
            window.document.location = $(this).attr("href");
      });
  });
  </script>