# This compose file is meant for development and should not be used in production!
services:
  development:
    build: .
    ports:
      - "127.0.0.1:3000:80"
    volumes:
      - "./:/tap"
#      - "${HOME}/.ssh:/root/.ssh:ro"
    tmpfs:
      - /tap/tmp
    environment:
      RAILS_ENV: development
    command: /run-development.sh

  test:
    build: .
    volumes:
      - "./:/tap"
    tmpfs:
      - /tap/tmp
    environment:
      RAILS_ENV: test
    command: /run-test.sh
