= content_for :title, "Products"
#products-errors
.row.products
  .col-md-8.col-md-offset-2
    = link_to "Add products", barcode_products_path, class: "btn btn-default"
    %table#products-table.table.table-striped
      %tr
        %th
        %th Name
        %th Price
        %th Stock
        %th Deleted
        %th Kilocalorieën
        %th
      = render partial: 'products_list/product_row', collection: @products, as: :product
