<div class="stat-card">
  <!-- Icon -->
  <div class="stat-card-icon">
    <i class="fa-solid fa-glass-martini-alt"></i>
  </div>

  <!-- Text -->
  <div class="stat-card-text">
    <div class="stat-card-title">
      Total orders
    </div>
    <div class="stat-card-value">
      <%= @user.all_orders(nil).count %>
    </div>
  </div>
</div>
