<div class="stat-card">
  <!-- Icon -->
  <div class="stat-card-icon">
      <i class="fa-solid fa-euro-sign"></i>
  </div>

  <!-- Text -->
  <div class="stat-card-text">
    <div class="stat-card-title">
      Balance
    </div>

    <%= link_to euro_from_cents(@user.balance),
        tab_url,
        target: "blank",
        class: "stat-card-value theme-no-blend",
        style: "color: #{get_user_balance_color(@user)}"
    %>

    <div class="stat-card-hint">
      <%= link_to "Manage your balance",
          tab_url,
          target: "blank"
      %>
    </div>
  </div>
</div>
