<div class="stat-card">
  <!-- Icon -->
  <div class="stat-card-icon">
    <i class="fa-solid fa-fire"></i>
  </div>

  <!-- Text -->
  <div class="stat-card-text">
    <div class="stat-card-title">
      Most ordered
    </div>
    <div class="stat-card-value">
      <% if @user.products_group_by_id.length > 0 %>
        <%= @user.products_group_by_id.first.name %>
      <% else %>
        None
      <% end %>
    </div>
  </div>
</div>
