<div class="user">

  <!-- User dagschotel -->
  <% if user.dagschotel && !user.quickpay_hidden %>
    <%= button_to dagschotel_order_user_path(user), method: :post, class: "user-dagschotel" do %>
      <%= image_tag user.dagschotel.avatar(:dagschotel).url %>
    <% end %>
  <% end %>

  <!-- User image -->
  <%= link_to image_tag(user.avatar(:koelkast)), new_user_order_path(user), class: "user-avatar" %>

  <!-- User name -->
  <%= link_to user.name, new_user_order_path(user), class: "user-name", style: "color: #{get_user_text_color(user)}; background-color: #{get_user_color(user)}" %>
</div>
