.row.users
  .col-md-8.col-md-offset-2
    %h1 All users
    = render partial: 'flash'
    %table#users-table.table.table-striped
      %tr
        %th ID
        %th
        %th Nickname
        %th Debt
        %th
      = render @users
