<%= form_for(@order) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :products, placeholder: "Compose new order..." %>
  </div>
  <%= f.submit "Order", class: "btn btn-primary" %>
<% end %>