= content_for :title, "Login"
%p
  If this is the first time you log in, an account will be created for you.
%div
  = link_to "Sign in with Zeus WPI account.", omniauth_authorize_path("user", "zeuswpi"), class: "btn btn-large btn-primary"
