<div class="products-modal modal modal-target" id="modalOrderProducts">
  <a class="modal-background" href="#"></a>

  <div class="modal-card">

    <!-- Header -->
    <header class="modal-card-head">
      <p class="modal-card-title">Choose a product</p>
      <a class="delete" aria-label="close" href="#"></a>
    </header>

    <!-- Content -->
    <section class="modal-card-body">
      <turbo-frame id="orderProducts" src="<%= new_products_user_orders_path(current_user) %>" loading="lazy">
        <div class="products-modal-loading"></div>
      </turbo-frame>
      <%= render "products/list", compact_mobile: true, details: false, actions: ["order:add"] %>
    </section>

    <!-- Footer -->
    <footer class="modal-card-foot is-justify-content-flex-end">
      <a class="button is-danger is-light" href="#">Close</a>
    </footer>
  </div>
</div>
