<div class="products-modal modal" id="productsModal">
  <div class="modal-background"></div>

  <div class="modal-card">

    <!-- Header -->
    <header class="modal-card-head">
      <p class="modal-card-title">Choose a product</p>
      <button class="delete" aria-label="close" data-modal-close="productsModal"></button>
    </header>

    <!-- Content -->
    <section class="modal-card-body">
      <turbo-frame id="orderProducts" src="<%= new_products_user_orders_path(current_user) %>" loading="lazy">
        Loading...
        <%= render "products/list", compact_mobile: true, details: false, actions: ["order:add"] %>
      </turbo-frame>
    </section>

    <!-- Footer -->
    <footer class="modal-card-foot is-justify-content-flex-end">
      <button class="button is-danger is-light" data-modal-close="productsModal">Close</button>
    </footer>
  </div>
</div>
