<div class="col-md-3 form_total">
  <strong>Total price</strong>
  <div class="input-group">
    <span class="input-group-addon">&euro;</span>
    <%= content_tag :span, "", id: "order_price", class: "input-group-addon" %>
    <span class="input-group-btn">
      <%= f.submit "Order!", class: "btn btn-primary big-form-button" %>
    </span>
  </div>
</div>
