<%= @user.name %>

<% @products.each do |p| %>
  <%= render "orders/order_button" , p: p %>
<% end %>

<%= form_for( @order, url: user_orders_path(@user)) do |f| %>
  <%= f.submit "Order", class: "btn btn-primary " %>
<% end %>


<div style="padding-top: 50px;" class="order_list ">
  <p>
    Nothing ordered yet!
  </p>
</div>
