<%= current_ordering_user.name %>
<%= form_for @order do |f| %>
  <div class="field">
    <%= f.text_area :products, placeholder: "Compose new order..." %>
  </div>
  <%= f.submit "Order", class: "btn btn-primary" %>
<% end %>
