.row
  .col-md-1
    - unless @last.empty?
      %h5 Recent
      #last
        - @last.each do |user|
          = image_tag user.avatar(:small), class: "img-responsive img-circle img-thumbnail"
  .col-md-11
    .row.text-center.guest
      =link_to "Not a Zeus Account? Order as a guest.", new_user_order_path(User.guest), class: "btn btn-default btn-lg"
    .row
    = render @users
