<div class="title">
  New barcode
</div>

<div class="subtitle">
  Create a new barcode and add it to a specific product.
</div>

<div class="card">
  <div class="card-content">
    <%= render "barcodes/form" %>
  </div>
</div>
