<div class="title">
  Create product by barcode
</div>

<div class="subtitle">
  Go to edit product page if barcode exists, else make a new product
</div>

<div class="card">
  <div class="card-content">
    <%= render "barcodes/form" %>
  </div>
</div>
