<div class="columns is-multiline is-justify-content-space-between">

    <!-- Create new product -->
  <div class="column is-12 is-5-widescreen">
    <div class="title">
      Create new product
    </div>

    <div class="subtitle">
      Link barcode to a new product
    </div>

    <div class="card">
      <div class="card-content">
        <%= render 'products/form' %>
      </div>
    </div>
  </div>

  <!-- OR -->
  <div class="column is-12 is-2-widescreen is-align-self-center">
    <div class="is-size-3 has-text-weight-semibold is-text has-text-centered">
      - OR -
    </div>
  </div>

  <!-- Link to existing product -->
  <div class="column is-12 is-5-widescreen">
    <div class="title">
      Link barcode to existing product
    </div>

    <div class="subtitle">
      Click on a product to link the barcode to an existing product
    </div>

    <div class="card">
      <div class="card-content" style="max-height: 60rem; overflow-y: scroll; scrollbar-color: orange white;">
        <%= render 'products/list', categories: false, compact: true, actions: ["barcode:link"] %>
      </div>
    </div>
  </div>

</div>
