<div class="col-md-3 form_total">
  <%= f.label :total_price %>
  <div class="input-group">
    <span class="input-group-addon">&euro;</span>
    <%= f.number_field :total_price, skip_label: true, step: :any, class: 'form-control input-lg' %>
    <span class="input-group-btn">
      <%= f.submit "Order!", class: "btn btn-primary big-form-button" %>
    </span>
  </div>
</div>
