// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form_products {
  border-width: 1px;
  border-color: #000;
  border-style: solid;
  margin-bottom: 2px;
}

.form_total {
  border-width: 1px;
  border-color: #000;
  border-style: solid;
}
