// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.orders .thumbnail {
  min-height: 200px;
}

.pic img {
  padding-top: 10px;
}

.caption{
  text-align: center;
}

.caption h3 {
  margin: 8px 0;
}

.caption h6 {
  margin-bottom: 20px;
}

#products-table .form-group {
  margin-bottom: 0;
}

#products-table tr {
  height: 57px;
  td {
    vertical-align: middle;
  }
}
