#stock_entry {
  border: 1px solid #ccc;
  background-color: #F5F5F5;
  padding: 20px;

          border-radius: 8px;
     -moz-border-radius: 8px;
  -webkit-border-radius: 8px;

  table {
    margin-bottom: 20px;
    border-spacing: 10px;
    border-collapse: separate;
    tr:last-child td {
      border-top: 1px dashed;
      padding-top: 10px;
    }
    td {
      /* padding: 10px; */
    }
  }
}
