@import 'sass';

.avatar {
  background-color: #797979;
  text-align: center;
  color: #fff;

  h1 {
    margin-top: 0;
  }
}

.orders-overview {
  border-bottom: 1px solid;
  padding: 10px 0;
  overflow: auto;

  &:last-child {
    border-bottom: 0;
  }

  .date {
    display: inline-block;
    float: left;
    margin-right: 20px;

    .day {
      font-size: 350%;
      display: block;
    }

    .month {
      width: 100%;
      display: block;
      text-align: center;
    }
  }

  .orders-thumbnails {
    white-space: nowrap;

    img {
      height: 80px;
      margin-left: -50px;
      @include animate(0.5s);
      position: relative;

      &:first-child {
        margin-left: 0;
      }
    }

    &:hover {
      img {
        margin-left: 5px;

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}

.order-here {
  .pure-u-1-2 {
    text-align: center;
  }
  /* text-align: center; */

  img {
    /* margin: 10px; */
  }
}

.input-wrapper {
  display: inline-block;
  position: relative;
  cursor: pointer;

  span {
    display: none;
    line-height: 110px;
    vertical-align: middle;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 0;
    left: 0;
  }

  input {
    display: hidden;
  }

  &:hover {
    img {
      opacity: 0.5;
    }

    span {
      display: block;
    }
  }
}
