<% details = details || false %>
<% actions = actions || [] %>
<% display_categories = defined?(categories) ? categories : true %>
<% compact = compact || false %>
<% compact_mobile = compact_mobile || false %>

<div>
  <!-- Header -->
  <div class="columns is-multiline">
    <!-- Tabs -->
    <% if display_categories %>
      <div class="column">
        <div class="tabs">
          <ul>
            <!-- All -->
            <li>
              <a data-products-tab="all">
                All
              </a>
            </li>

            <!-- Categories -->
              <% @categories.each do |category, index| %>
                <li>
                  <a data-products-tab="<%= category %>">
                    <%= category.titleize %>
                  </a>
                </li>
              <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <!-- Search -->
    <div class="column <%= display_categories ? 'is-narrow' : 'is-fullwidth' %>">
      <div class="search">
        <input id="productsSearchInput" class="input" placeholder="Search for a product..." />
      </div>
    </div>
  </div>

  <!-- Content -->
  <div class="tabs-content">
    <div class="columns is-multiline">
      <%= render partial: "products/product",
        collection: @products,
        as: :product,
        cache: true,
        locals: {
          search: true,
          details: details,
          actions: actions,
          compact: compact,
          compact_mobile: compact_mobile
        }
      %>
    </div>


    <!--
    No search results placeholder

    The value of "shouldShowProduct" is a hack to display the placeholder when no entries match the given search query.
    It checks if there is no match in a string concatenation of all product names.
    -->
    <div class="placeholder is-hidden" id="productsPlaceholder">
      No products found matching that query.
    </div>
  </div>
</div>

<script>
function setupProductList() {
  return {
    /**
     * Active product tab.
     */
    productTab: "all",

    /**
     * Search field value
     */
    productSearch: "",

    /**
     * If a given tab is the active tab.
     */
    isActiveTab(tab) {
      return this.productTab === tab;
    },

    /**
     * Make a tab the active tab.
     */
    setActiveTab(tab) {
      this.productTab = tab;
    },

    /**
     * If a specific product should be shown, based on:
     * * if it matches the category
     * * if the name matches the search field value.
     */
    shouldShowProduct(name, category) {

      // If the product doesn't match the category, return false
      if (category && this.productTab !== "all" && this.productTab !== category) {
        return false;
      }

      // If the product doesn't match the search query, return false
      if (this.productSearch && !name.toLowerCase().includes(this.productSearch.toLowerCase())) {
        return false;
      }

      return true;
    },

    /**
     * When the product search value changes.
     * Reset the productTab to "all", since searching should always show all items.
     */
    onProductSearchChange() {
      this.productTab = "all";
    }
  }
}
</script>
