.row
  .col-md-6.col-md-offset-3.center
    %h2 Scan barcode
    = form_tag load_barcode_products_path do
      .barcode-wrapper
        %input.center-block{ type: :number, name: :barcode, autofocus: true }
