<h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p>
name: <%= @product.name %></br>
verkoop prijs: <%= @product.sale_price %> EUR</br>
aankoop prijs: <%= @product.purchase_price %> EUR</br>