<aside>


  <h1>Products#show</h1>
  <h1>Name: <%= @product.name %></h1>
  <h1>Purchase price: <%= @product.purchase_price %> </h1>
  <h1>Sale price:  <%= @product.sale_price  %> </h1>
  <h1>Img path: <%= @product.img_path %>  </h1>
</aside>
