<%= f.label :total_price %>
<div class="input-group">
  <span class="input-group-addon">&euro;</span>
  <%= f.number_field :total_price, step: :any, class: 'form-control' %>
  <span class="input-group-btn">
    <%= f.submit "Order!", class: "btn btn-primary", type: "button" %>
  </span>
</div>
