name: "docker: Build and push ghcr.io/zeuswpi/tap:pr-[number]"

on:
  pull_request:

concurrency:
  group: docker-pr-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  docker-pr:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile.production
          push: true
          tags: |
            ghcr.io/zeuswpi/tap:pr-${{ github.event.pull_request.number }}
            ghcr.io/zeuswpi/tap:pr-${{ github.event.pull_request.number }}-${{ github.sha }}
