<% flash.each do |type, msg| %>
  <div v-scope="{ open: true }" class="notification <%= isLight ? 'is-light' : '' %> <%= flash_class(type) %>" v-show="open">
    <!-- Close button -->
    <button class="delete" @click="open = false"></button>

    <!-- Message -->
    <%= msg %>
  </div>
<% end %>
