<% flash.each do |type, msg| %>
  <div id="flash" class="notification <%= isLight ? 'is-light' : '' %> <%= flash_class(type) %>">
    <!-- Close button -->
    <button class="delete"></button>

    <!-- Message -->
    <%= msg %>
  </div>
<% end %>
