<footer class="footer">
  <small>
    <a href="#">Tab</a>
    by <a href="#">Zeus WPI</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://zeus.ugent.be">News</a></li>
    </ul>
  </nav>
</footer>
