<footer class="footer">
  <small>
    <%= link_to "Tab", root_path %></a>
    by <%= link_to "Zeus WPI", "//zeus.ugent.be" %>
  </small>
  <nav>
    <ul>
      <li><%= mail_to "bestuur@zeus.ugent.be", "Contact" %></li>
      <li><%= link_to "Zeus WPI", "//zeus.ugent.be" %></li>
    </ul>
  </nav>
</footer>
